<mat-card>
  <mat-card-header>
      <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form name="form" #f="ngForm" novalidate>
      <div *ngIf="displayGeneralLoginError()">
          Unable to login. Please correct your User Name or Password.
      </div>
      <div class="login-container">
        <mat-form-field>
          <input matInput name="username" type="text" placeholder="User Name" [(ngModel)]="model.username" required #username="ngModel">
          <mat-error *ngIf="username.invalid">User Name is required</mat-error>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput name="password" type="password" placeholder="Password" [(ngModel)]="model.password" required #password="ngModel">
          <mat-error *ngIf="password.invalid">Password is required</mat-error>
        </mat-form-field>
      </div>  
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>